.main {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
  background-color: aliceblue;
}
body {
  background-color: rgb(209, 204, 204);
}
.menu_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aliceblue;
}
p {
  padding: 5px;
}
h1 {
  padding: 5px;
}
nav {
  display: flex;
  align-items: center;
  gap: 20px;
}
nav a {
  font-size: 17px;
  font-weight: 500;
  font-family: "Times New Roman", Times, serif;
  padding: 20px 0;
  margin-left: 10px;
  text-align: left;
  text-transform: uppercase; /* ან uppercase მთავრულისთვის */
}

nav a:hover {
  background-color: darkgray;
}

.logo img {
  width: 50px;
  height: 50px;
}
.header {
  display: flex;
  width: auto;
  text-align: center;
  display: flex;
  justify-content: center;

  align-items: center;
}
.card img {
  width: 362px;
  height: 186px;
}
.card p {
  font-weight: 200;
  font-size: 14px;
  color: #636060;
  font-family: Arial, Helvetica, sans-serif;
}
.header .card {
  flex-wrap: wrap;
  gap: 30px;
  max-width: 906px;
  padding: 15px;
}
.author {
  background-color: #000;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  font-size: 16px;
}

.content {
  display: grid;

  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}
.content .card img {
  width: 362px;
  height: 186px;
}
.content .card p {
  font-weight: 200;
  font-size: 14px;
  color: #636060;
  font-family: Arial, Helvetica, sans-serif;
}

.section_about h1 {
  text-align: center;
}
.section_about p {
  text-align: center;
}
